body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 14px;
    background-color: #ffffff;
    line-height: 1.5;
}
.nav-list {
    /* font-family:"Raleway", sans-serif; */
    font-weight: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform:uppercase;
    background-color: inherit;
    /* color:#4d5ae5;  */
}
.link-first {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.link-first:visited {
    color:#404bbf;
}
/* .logo-link {  
    background-color: inherit;
}    
*/
.logo-web {
font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform:uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    background-color: inherit;
    color:#4d5ae5;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform:uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    background-color: inherit;
    color:#2e2f42; 
}
.nav-list {
    color:#2e2f42;
    font-family: inherit;
}


.nav-list a:focus {
    color: #4d5ae5;
}
.address-list {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.address-list a:hover .nav-list a:hover{
    color: #404bbf;
}
.hero-image {
    color: #434455;
    background-color: #2e2f42;
}
.page-title {
    color: #ffffff;
    font-size: 56px;
    font-weight: bold;
    /* font-family: */
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.btn{
    /* font-family: "Roboto", sans-serif; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #ffffff;
    /* align-items: center; */
    text-align: center;
    cursor: auto;
    cursor: pointer;
    margin: auto;
}
.btn:hover {
    background-color: #404bbf;
    /* font-family: "Roboto", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 4%;
    color: #ffffff;
    /* align-items: center; */
}
.btn:active {
    background-color: #404bbf;
}
.section-title {
    font-size: 36px;
    font-weight: bold;
    /* font-family: "Oswald", sans-serif; */
    text-align: center;
    /* line-height: 1.333; */
    letter-spacing: 2px;
}
.title-two {
    display: none;
}
.title-three {
    font-weight: Medium;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2%;
    background-color: inherit;
    color: #434455;
    align-items: center;
}

/* h1, h2, h3, h4 ,h5{} */

ul {
    list-style-type: none;
}

.our-team {
    background-color: #f4f4fd;
}
.page-footer {
    background-color:  #2e2f42;
    color: #ffffff;
}
/*.foot-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform:uppercase;
    line-height: 1.3125;
    letter-spacing: 3%;
    background-color: inherit;
    color:#4d5ae5; 
}
*/
footer span {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform:uppercase;
    line-height: 1.3125;
    letter-spacing: 3%;
    background-color: inherit;
    color:#f4f4fd; 
}
